<h2>
  Upload a new file
</h2>

<%= form_for @upload, html: { multipart: true} do |f| %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :asset %>
    <%= f.file_field :asset %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="action">
    <%= f.submit "Upload this file" %>
  </div>
<% end %>
